* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #675f5fe4;
}

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 200px;
  height: 250px;

  transform-style: preserve-3d;
  transform: perspective(1000px) translate(-50%, -50%);
  animation: autoRun 20s linear infinite;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateY(0deg) translate(-50%, -50%);
  }
  to {
    transform: perspective(1000px) rotateY(360deg) translate(-50%, -50%);
  }
}

.item {
  position: absolute;
  inset: 0;

  transform:
    rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
    translateZ(400px);
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
header{
    width: 1140px;
    max-width: 90%;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
}
header nav{
    display: flex;
    gap: 40px;
}
header nav a{
    text-decoration: none;
    color: #eee;
    font-weight: 500;
}
.bottom-gallery {
  padding: 40px;
  background: #1b1a1a;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.gallery img {
  width: 150%;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}